:root{
  --heading-background-color: #f06;
  --border: 1px solid rgb(0 0 0 / 0.2) ; 
  --box-shadow: 0 0 30px gray;
  --color-dark-blue: darkblue;
}

main{
  max-width: 840px;
}

main img {
  width: 150px;
  height: auto;
  border: var(--border);
  padding: 2px;
  box-shadow: var(--box-shadow);
}

aside{
  width: 20rem;
  margin: 1rem;
  border: var(--border);
  padding: 1rem;
  background-color: #eee;
  color: #333;
  text-align: center;
}

aside img {
  width: 200px;
  height: auto;
}

nav{
  background-color: var(--color-dark-blue);
  padding: 10px;
}

nav a {
  color: white;
  display: block;
  padding: 20px;
}

h1{
  color: var(--color-dark-blue);
}

img {
  width: 150px;
  height: auto;
  border: var(--border);
  padding: 2px;
  box-shadow: var(--box-shadow);
}

p {
  padding: 0;
}

footer{
  margin-top: 15px;
  border-top: 1px solid #000 ;
  text-align: center;
}