

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --heading-background-color: #f06;
  --border: 1px solid rgb(0 0 0 / 0.2) ; 
  --box-shadow: 0 0 30px gray;
  --color-dark-blue: darkblue;
}

main{
  max-width: 640px;
  
}

main img {
  width: 150px;
  height: auto;
  border: var(--border);
  padding: 2px;
  box-shadow: var(--box-shadow);
    float: right;
}

aside{
  width: 20em;
  text-align: center;
  position: relative;
}

aside img {
  width: 200px;
  height: auto;
}

aside h2 {
  position: absolute;
  top: 30px;
  left: 65px;
}

nav{
  background-color: var(--color-dark-blue);
  padding: 10px;
}

nav a {
  color: white;
  display: block;
  padding: 20px;
}

h1{
  color: var(--color-dark-blue);
}

img {
  width: 150px;
  height: auto;
  border: var(--border);
  padding: 2px;
  box-shadow: var(--box-shadow);
}

p {
  padding: 0;
}

footer{
  margin-top: 15px;
  border-top: 1px solid #000 ;
  text-align: center;
}

/* Class Selectors */

.box {
  margin: 1rem;
  border: 1px solid rgba(0,0,0,.1);
  padding: 1rem;
  background-color: #eee;
  color: #000;
  
}

.box_ul {
  margin: 1rem;
  border: 1px solid rgba(0,0,0,.1);
  padding: 1rem;
  background-color: #eee;
  color: #000;
  width: 470px;
  
}